@import '../../styles/variables.scss';

.transparent {
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $color-white;
	padding: 0px 2rem;
	width: 100%;
	background: transparent;
	position: relative;
}

.header {
	height: 70px;
	background: $color-one;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $color-white;
	padding: 0px 2rem;
	width: 100%;
	position: relative;

	&__title {
		color: $color-white;
		text-decoration: none;
		cursor: pointer;
	}

	&__links {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 20px;
		list-style-type: none;
		font-size: 1rem;

		@media (max-width: $bp-medium) {
			position: absolute;
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 100%;
			top: 70px;
			left: -100%;
			transition: 0.5s all;
			background: $color-one;
		}
	}

	&__link {
		text-decoration: none;
		color: $color-white;
		transition: 0.3s color, 0.3s background;
		padding: 0.5rem;
		border-radius: 10px;

		@media (max-width: $bp-medium) {
			font-size: 1.2rem;
			width: 100%;
		}

		&:hover {
			color: $color-five;
			background: $color-two;
		}
	}

	&__item {
		padding: 1rem 0;
	}
}

.active {
	@media (max-width: $bp-medium) {
		left: 0;
	}
}

.icon {
	font-size: 2rem;
	color: white;
	cursor: pointer;
	z-index: 20;
	display: none;

	@media (max-width: $bp-medium) {
		display: flex;
	}
}
