@import '../../styles/variables.scss';

.button {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    color: $color-three;
    text-decoration: underline;
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        color: $color-five;
    }
}

.main {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}