@import '../../../styles/variables.scss';

.card {
    height: 300px;
    width: 300px;
    margin: 1.5rem;
    background: $color-two;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s transform;
    
    
    &__image {
        height: 200px;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        
        &_source {
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        height: 100px;
        align-items: center;
        color: $color-five;
        padding: 0 10px;
        
        & h3 {
            text-decoration: underline;
        }
    }

    &:hover {
        transform: scale(1.05);
    }
}