@import '../../../styles/variables.scss';

.latestarticles {
    min-height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        width: 80%;

        @media (max-width: $bp-medium) {
            flex-direction: column-reverse;
            text-align: center;
        }
        
        &_title {
            min-width: 300px;
        }

        &_links {
            padding-right: 1rem;

            @media (max-width: $bp-medium) {
				padding-top: 2rem;
			}
        }

        &_link {
            text-decoration: underline;
            padding-bottom: 1rem;
            cursor: pointer;
            transition: 0.3s all;

            &:hover {
                color: $color-one;
            }
        }
    }
}